- @page_title = "Two-Factor Authentication"
= display_flash
.loginArea
  = form_tag perform_second_authentication_path, class: 'login' do
    %p{style:"text-align:center;font-size:18px;font-weight:bold;"}
      = "Two Factor Authentication"
    - unless current_user.seen_qr
      - qr = RQRCode::QRCode.new(current_user.provisioning_uri("CSGO Bunker"), :size => 7, :level => :h )
      %table{class:"qr"}
        - qr.modules.each_index do |x|
          %tr
            - qr.modules.each_index do |y|
              - if qr.dark?(x,y)
                %td{class:"black"}
              - else
                %td{class:"white"}
    %p.field
      = text_field_tag 'authenticator_code', params[:authenticator_code], :class => 'focus', :placeholder => "Two-Factor Authenticator Code"
    %p.submit
      = submit_tag "Authenticate", :class => 'button green'
