- @page_title = t("shoppe.settings.settings")

= content_for :header do
  %h2.settings= t("shoppe.settings.settings")

= form_tag :url => settings_path do |f|

  - Shoppe.settings_groups.sort_by{ |k,v| k }.reverse.each do |group, fields|
    = field_set_tag t("shoppe.settings.#{group}") do
      - fields.each do |f|
        - next if %i(tax_name currency_unit demo_mode).include? f
        %dl.sided
          %dt= settings_label f
          %dd
            = settings_field f
            - if v = t("shoppe.settings.help")[f]
              %p.help= v

  %p.submit.sided
    = submit_tag t("shoppe.settings.save_settings"), :class => 'button green'
