!!!
%html
  %head
    %title #{@page_title} - Shoppe
    = stylesheet_link_tag 'shoppe/application'
    = javascript_include_tag 'shoppe/application'
    = csrf_meta_tags
    :javascript
      window.Shoppe = {}
      window.Shoppe.currencyUnit = "#{h Shoppe.settings.currency_unit}";
  %body
    %nav.sidebar
      %header.logo
        = link_to image_tag("/logo-sm.png"), "/shoppe"
      %p.logged= t('.logged_in_as', user_name: current_user.full_name)

      %ul
        - sections = {"Customers" => "customers", "Orders" => "orders", "Products" => "products", "Product Categories" => "categories", "Tax Rates" => "tax_rates", "Users" => "users", "Blogposts" => "blogposts"}
        %li= link_to "My Account", my_account_users_path
        %li= link_to "Submitted Orders", orders_path(submitted: true), class: "#{params[:submitted] ? 'active' : ''}" if current_user.admin?
        - for item in Shoppe::NavigationManager.find(:admin_primary).items
          - if can_manage(sections[item.description])
            %li= navigation_manager_link item
        %li= link_to "Permissions", edit_permissions_path if current_user.admin?
        %li= link_to t('.logout'), [:logout], :method => :delete

    %header.main
      = yield :header

    #content
      = display_flash
      %section.main
        = yield

    %footer
      %p.store= link_to "&larr; #{t('.goto')} #{Shoppe.settings.store_name}".html_safe, '/'
