Hello <%=@order.first_name%>!

Re: Order #<%=@order.number%>

We're pleased to let you know that we have accepted your order and your payment of <%=number_to_currency @order.total%> has been taken from your card successfully.

We will e-mail you again when we process your order.

Many thanks,

<%=Shoppe.settings.store_name%>
<%=Shoppe.settings.email_address%>
