Hello <%=@order.first_name%>!

Re: Order #<%=@order.number%>

We're pleased to let you know your order has been processed and
will be with you shortly!

Many thanks,

<%=Shoppe.settings.store_name%>
<%=Shoppe.settings.email_address%>
