= form_for @currency do |f|
  = f.error_messages
  = field_set_tag "Exchange Rate details" do
    .splitContainer
      %dl.half
        %dt= f.label :base_multiplier, "CAD to #{@currency.code} Multiplier"
        %dd= f.text_field :base_multiplier, :class => "text focus"
      %dl.half
  %p.submit
    = f.submit :class => 'button green', data: {disable_with: "Updating Currency..."}
    = link_to "Cancel", :currencies, :class => 'button'
