- @page_title = "Currencies"

= content_for :header do
  %h2.users Currencies

.table
  %table.data
    %thead
      %tr
        %th Currency Code
        %th Exchange rate to CAD
    %tbody
      - for currency in @currencies
        %tr
          %td= link_to currency.code, edit_currency_path(currency)
          %td= currency.base_multiplier
