= form_for @item do |f|
  = f.error_messages

  = field_set_tag "Purchased Item Information" do
    = f.hidden_field :shoppe_user_id, value: current_user.id
    .splitContainer
      %dl.third
        %dt= f.label :shoppe_product_id, "Product"
        %dd= f.collection_select :shoppe_product_id, Shoppe::Product.ordered, :id, :full_name, {:include_blank => true}, {:data => {:placeholder => "Choose a product"}}
      %dl.third
        %dt= f.label :shoppe_customer_id, "Customer"
        %dd= f.collection_select :shoppe_customer_id, Shoppe::Customer.ordered, :id, :full_name, {:include_blank => true}, {:data => {:placeholder => "Choose a customer"}}
      %dl.third
        %dt= f.label :payment_type_id, "Payment Type"
        %dd= f.collection_select :payment_type_id, Shoppe::PaymentType.all, :id, :name, {:include_blank => true}, {:data => {:placeholder => "Select a payment type"}}
    .splitContainer
      %dl.third
        %dt= f.label :price, "Price per item"
        %dd= f.text_field :price, :class => "text"
      %dl.third
        %dt= f.label :quantity_bought
        %dd= f.text_field :quantity_bought, :class => "text"
      %dl.third
        %dt= f.label :notes
        %dd= f.text_area :notes, :class => "text"

  %p.submit
    = f.submit :class => 'button green', data: {disable_with: (@item.new_record? ? "Creating Purchase..." : "Updating Purchase...")}
    = link_to "Cancel", :customers, :class => 'button'
