- @page_title = "Purchased Items"

= content_for :header do
  %p.buttons
    = link_to "New Purchase", :new_purchased_item, class: "button green"
  %h2.users Purchased Items

.tabs{"data-toggle" => 'tabslet'}
  %ul
    %li
      = link_to "My Purchases", "#my_purchases_tab"
    %li
      = link_to "All Purchases", "#all_purchases_tab"
  #my_purchases_tab
    .table
      %table.data
        %thead
          %tr
            %th Product
            %th Customer
            %th Purchased By
            %th Price
            %th Quantity Bought
        %tbody
          - if @my_items.empty?
            %tr.empty
              %td{colspan: 5} No purchases to display.
          - else
            - for item in @my_items
              %tr
                %td= link_to item.product.full_name, item
                %td= item.customer.full_name
                %td= item.user.full_name
                %td= number_to_currency(item.price)
                %td= item.quantity_bought

  #all_purchases_tab
    .table
      %table.data
        %thead
          %tr
            %th Product
            %th Customer
            %th Purchased By
            %th Price
            %th Quantity Bought
        %tbody
          - if @items.empty?
            %tr.empty
              %td{colspan: 5} No purchases to display.
          - else
            - for item in @items
              %tr
                %td= link_to item.product.full_name, item
                %td= item.customer.full_name
                %td= item.user.full_name
                %td= number_to_currency(item.price)
                %td= item.quantity_bought
