- @page_title = "Purchased Item - #{@item.product.full_name}"
= content_for :header do
  %p.buttons
    = link_to "Edit", [:edit, @item], class: "button"
  %h2.users
    Purchased Item - #{@item.product.full_name}

#customer
  .details
    .left
      %dl
        %dt Product
        %dd= @item.product.full_name
        %dt Customer
        %dd= @item.customer.name
        %dt Purchased By
        %dd= @item.user.full_name
        %dt Notes
        %dd= @item.notes.present? ? @item.notes : "--"
    .right
      %dl
        %dt Price per item
        %dd= number_to_currency(@item.price)
        %dt Payed By
        %dd= @item.payment_type.name
        %dt Quantity Bought
        %dd= @item.quantity_bought
        %dt Quantity Sold
        %dd= @item.quantity_sold
