= form_for @blogpost do |f|
  = f.error_messages
  = f.hidden_field :author_id, value: current_user.id
  = field_set_tag "Blogpost Details" do
    .splitContainer
      %dl.half
        %dt= f.label :title
        %dd= f.text_field :title, :class => "text focus"
      %dl.half
        %dt= f.label :status
        %dd= f.select :status, options_for_select(["Draft", "Published"], @blogpost.status), :class => "text"
    %dl
      %dt= f.label :featured_image
      %dd= f.file_field :featured_image
      %br
      - if @blogpost.featured_image.present?
        = image_tag @blogpost.featured_image, style: "width:200px;"
    %dl
      %dt= f.label :short_description
      %dd= f.text_field :short_description, :class => "text"
    %dl
      %dt= f.label :body, "Blogpost Body"
      %dd= f.text_area :body, class: "wysiwyg", style: "height:400px;"

  %p.submit
    - unless @blogpost.new_record?
      %span.right= link_to "Delete", @blogpost, :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this blogpost?"}
    = f.submit :class => 'button green', data: {disable_with: (@blogpost.new_record? ? "Creating Blogpost..." : "Updating Blogpost...")}
    = link_to "Cancel", :blogposts, :class => 'button'
