- @page_title = "Blogposts"

= content_for :header do
  %p.buttons
    = link_to "New Blogpost", :new_blogpost, class: "button green"
  %h2.users Blogposts

.table
  %table.data
    %thead
      %tr
        %th Title
        %th Short Description
        %th Author
        %th Status
    %tbody
      - if @blogposts.empty?
        %tr.empty
          %td{colspan: 4} No blogposts to display.
      - else
        - for post in @blogposts
          %tr
            %td= link_to post.title, edit_blogpost_path(post)
            %td= post.short_description
            %td= post.author.full_name
            %td= post.status
