.table
  %table.data
    %thead
      %tr
        %th{:width => '50%'}= t('shoppe.products.name')
        %th{:width => '35%'}= t('shoppe.products.price_variants')
        %th{:width => '15%'}= t('shoppe.products.stock')
    %tbody
      - if products.empty?
        %tr.empty
          %td{:colspan => 3}= t('shoppe.products.no_products')
      - else
        - for category, products in products
          %tr
            %th{:colspan => 3}= category.name
          - for product in products
            %tr
              %td= link_to product.name, [:edit, product]
              - if product.has_variants?
                %td.table{:colspan => 2}
                  %table.data
                    - for variant in product.variants
                      %tr
                        %td{:width => '40%'}= link_to variant.name, edit_product_variant_path(product, variant)
                        %td{:width => '30%'}= number_to_currency variant.price
                        %td{:width => '30%'}
                          - if variant.stock_control?
                            %span.float-right= link_to t('shoppe.products.edit') , stock_level_adjustments_path(:item_type => variant.class, :item_id => variant.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
                            = boolean_tag(variant.in_stock?, nil, :true_text => variant.stock, :false_text => t('shoppe.products.no_stock'))
                          - else
                            &#8734;
              - else
                %td= number_to_currency product.price
                %td
                  - if product.stock_control?
                    %span.float-right= link_to t('shoppe.products.edit'), stock_level_adjustments_path(:item_type => product.class, :item_id => product.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
                    = boolean_tag(product.in_stock?, nil, :true_text => product.stock, :false_text => t('shoppe.products.no_stock'))
                  - else
                    &#8734;
