.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.orders.number')
        %th= t('shoppe.orders.customer')
        %th= t('shoppe.orders.status')
        %th= t('shoppe.orders.products')
        %th= t('shoppe.orders.total')
        %th= t('shoppe.orders.payment')
        %th= "Payment Type"
        %th= "Assignment"
        %th= "Admin Status"
    %tbody
      - if orders.empty?
        %tr.empty
          %td{:colspan => 10}= t('shoppe.orders.no_orders')
      - else
        - for order in orders
          %tr
            %td= link_to order.number, order
            %td= order.customer_name
            %td= status_tag order.status
            %td
              %ul
                - for item in order.order_items
                  %li #{item.quantity} x #{item.ordered_item.full_name}
            %td= number_to_currency order.total
            %td= boolean_tag order.paid_in_full?, nil, :true_text => number_to_currency(order.amount_paid), :false_text => number_to_currency(order.amount_paid)
            %td= order.payment_type.try(:name) || "Not selected"
            %td
              - if order.user_id.present?
                %strong Assignend to:
                = order.user.full_name
              - else
                Not assigned yet -
                = link_to "Assign to me", assign_to_me_order_path(order), class: "button button-mini green", method: :post
            %td= order.admin_status_str

%br
%br
%h1 Archived Commissions
%hr
- unless user.archived_commissions.empty?
  .table
    %table.data
      %thead
        %tr
          %th= "Order"
          %th= "Type"
          %th= "Amount"
          %th= "Date Calculated"
      %tbody
        - for comm in user.archived_commissions
          %tr
            %td= link_to comm.order.number, comm.order
            %td= "#{comm.commission_type.try(:titleize)} Compensation"
            %td= number_to_currency(comm.commission_amount)
            %td= comm.updated_at.to_s(:short)
        %tr
          %td
          %td
            %strong Total:
          %td
            %strong= number_to_currency(user.archived_commissions.sum{|c| c.commission_amount})
          %td
- else
  %p.notice= "There are no archived commission records"
