- unless @commissions.empty?
  .table
    %table.data
      %thead
        %tr
          %th= "User"
          %th= "Type"
          %th= "Amount"
          %th= "Date Calculated"
      %tbody
        - for comm in @commissions
          %tr
            %td= comm.user.full_name
            %td= "#{comm.commission_type.try(:titleize)} Compensation"
            %td= number_to_currency(comm.commission_amount)
            %td= comm.updated_at.to_s(:short)
- else
  %p.notice= "There are no commission records calculated for this order"

- if current_user.admin?
  = button_to "Recalculate", calculate_commission_order_path(@order), :class => 'button green', :data => {:confirm => "Are you sure, you want to recalculate commissions for this order?" }
