= field_set_tag t('shoppe.orders.billing_address') do
  %dl
    %dt= f.label :customer_id, t('shoppe.orders.customer')
    %dd= f.collection_select :customer_id, Shoppe::Customer.ordered, :id, :name, {:include_blank => true}, {:data => {:placeholder => t('shoppe.orders.select_customer')}}
  .splitContainer
    %dl.third
      %dt= f.label :first_name, t('shoppe.orders.first_name')
      %dd= f.text_field :first_name, :class => 'focus text'
    %dl.third
      %dt= f.label :last_name, t('shoppe.orders.last_name')
      %dd= f.text_field :last_name, :class => 'text'
    %dl.third
      %dt= f.label :company, t('shoppe.orders.company')
      %dd= f.text_field :company, :class => 'text'
  %dl
    %dt= f.label :billing_address1, t('shoppe.orders.address')
    %dd.space= f.text_field :billing_address1, :class => 'text'
    %dd.space= f.text_field :billing_address2, :class => 'text'
    %dd.space= f.text_field :billing_address3, :class => 'text'
    %dd.space= f.text_field :billing_address4, :class => 'text'
  .splitContainer
    %dl.half
      %dt= f.label :billing_postcode, t('shoppe.orders.post_code')
      %dd= f.text_field :billing_postcode, :class => 'text'
    %dl.half
      %dt= f.label :billing_country_id, t('shoppe.orders.country')
      %dd= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, {:include_blank => true}, {:data => {:placeholder => t('shoppe.orders.select_country')}}

  .splitContainer
    %dl.third
      %dt= f.label :email_address, t('shoppe.orders.email_address')
      %dd= f.text_field :email_address, :class => 'text'
    %dl.third
      %dt= f.label :phone_number, t('shoppe.orders.phone_number')
      %dd= f.text_field :phone_number, :class => 'text'
    %dl.third
      %dt= f.label :separate_delivery_address, t('shoppe.orders.separate_delivery_address')
      %dd.checkbox
        = f.check_box :separate_delivery_address
        = f.label :separate_delivery_address, t('shoppe.orders.use_separate_delivery_address?')
  %dl
    %dt= f.label :payment_type_id, "Payment Type"
    %dd= f.collection_select :payment_type_id, Shoppe::PaymentType.all, :id, :name, {:include_blank => true}, {:data => {:placeholder => "Select a payment"}}

= field_set_tag t('shoppe.orders.delivery_address'), :class => 'delivery' do
  %dl
    %dt= f.label :delivery_name, t('shoppe.orders.delivery_name')
    %dd= f.text_field :delivery_name, :class => 'text'
  %dl
    %dt= f.label :delivery_address1, t('shoppe.orders.address')
    %dd.space= f.text_field :delivery_address1, :class => 'text'
    %dd.space= f.text_field :delivery_address2, :class => 'text'
    %dd.space= f.text_field :delivery_address3, :class => 'text'
    %dd.space= f.text_field :delivery_address4, :class => 'text'
  .splitContainer
    %dl.half
      %dt= f.label :delivery_postcode, t('shoppe.orders.post_code')
      %dd= f.text_field :delivery_postcode, :class => 'text'
    %dl.half
      %dt= f.label :delivery_country_id, t('shoppe.orders.country')
      %dd= f.collection_select :delivery_country_id, Shoppe::Country.ordered, :id, :name, {:include_blank => true}, {:data => {:placeholder => t('shoppe.orders.select_country')}}

= field_set_tag "Assignment", :class => 'assignment' do
  %dl
    %dt= f.label :user_id, "Assigned to: "
    %dd= f.collection_select :user_id, Shoppe::User.all, :id, :full_name, {:include_blank => true}, {:data => {:placeholder => "Select a sales representative"}}
