.order_items
  .table
    %table.data
      %thead
        %tr
          %th.qty= t('shoppe.orders.qty')
          %th= t('shoppe.orders.item')
          %th.money= t('shoppe.orders.cost')
          %th.money= t('shoppe.orders.price')
          %th.money= Shoppe.settings.tax_name
          %th.money= t('shoppe.orders.sub_total')
      %tbody
        - for item in @order.order_items
          %tr
            %td.qty= item.quantity
            %td.product= item.ordered_item.full_name
            %td.money= number_to_currency item.total_cost
            %td.money= number_to_currency item.sub_total
            %td.money= number_to_currency item.tax_amount
            %td.money= number_to_currency item.total
        - if @order.delivery_service
          %td.qty
          %td.product= link_to @order.delivery_service.name, [:edit, @order.delivery_service]
          %td.money= number_to_currency @order.delivery_cost_price
          %td.money= number_to_currency @order.delivery_price
          %td.money= number_to_currency @order.delivery_tax_amount
          %td.money= number_to_currency @order.delivery_price + @order.delivery_tax_amount
      %tfoot
        %tr
          %td.qty= @order.total_items
          %td{:colspan => 1}
          %td.money= number_to_currency @order.total_cost
          %td.money= number_to_currency @order.total_before_tax
          %td.money= number_to_currency @order.tax
          %td.money= number_to_currency @order.total
