.details
  .left
    %dl
      %dt= t('shoppe.orders.name')
      %dd= @order.full_name
      %dt= t('shoppe.orders.company')
      %dd= @order.company.blank? ? '-' : @order.company
      %dt= "Identification"
      %dd
        - if @order.customer.try(:customer_identification).present?
          = link_to image_tag(@order.customer.customer_identification.url(:thumb)), @order.customer.customer_identification.url(), target: "_blank"
        - else
          Not provided
      %dt
        - if @order.separate_delivery_address?
          = t('shoppe.orders.billing_address')
        - else
          = t('shoppe.orders.billing_delivery_address')

      %dd= @order.billing_address1
      %dd= @order.billing_address2
      %dd= @order.billing_address3
      %dd= @order.billing_address4
      %dd= @order.billing_postcode
      %dd= @order.billing_country.try(:name)
      - if @order.separate_delivery_address?
        %dt= t('shoppe.orders.delivery_address')
        %dd= @order.delivery_name
        %dd= @order.delivery_address1
        %dd= @order.delivery_address2
        %dd= @order.delivery_address3
        %dd= @order.delivery_address4
        %dd= @order.delivery_postcode
        %dd= @order.delivery_country.try(:name)
  .right
    %dl
      %dt= t('shoppe.orders.email_address')
      %dd= mail_to @order.email_address
      %dt= t('shoppe.orders.telephone')
      %dd= @order.phone_number
      %dt= t('shoppe.orders.weight')
      %dd= number_to_weight @order.total_weight
      - if @order.received?
        %dt= t('shoppe.orders.build_time')
        %dd= distance_of_time_in_words(@order.created_at, @order.received_at)
      %dt= "Payment Type"
      %dd= @order.payment_type.try(:name) || "Not selected"
      %dt= "Assignend To"
      - if @order.user_id.present?
        %dd= @order.user.full_name
      - else
        %dd
          = "--"
          = link_to "Assign to me", assign_to_me_order_path(@order), class: "button button-mini green", method: :post
      %dt= "Admin Status"
      %dd= @order.admin_status_str
      - if @order.invoiced?
        %dt= t('shoppe.orders.invoice_number')
        %dd= @order.invoice_number
      %dt= t('shoppe.orders.order_balance')
      %dd= boolean_tag @order.paid_in_full?, nil, :true_text => number_to_currency(@order.balance), :false_text => number_to_currency(@order.balance)
    - if @order.accepted? && !@order.shipped?
      = form_tag [:ship, @order] do
        %dl.form
          %dt.padding= label_tag 'consignment_number', t('shoppe.orders.consignment_number')
          %dd= text_field_tag 'consignment_number', '', :class => 'text'
        %dl.form
          %dd= submit_tag t('shoppe.orders.mark_as_shipped') , :class => 'button green button-mini'

    - unless @order.accepted? || @order.rejected?
      %dl.form
        %dd
          = link_to t('shoppe.orders.accept'), [:accept, @order], :method => :post, :class => 'button green'
          = link_to t('shoppe.orders.reject'), [:reject, @order], :method => :post, :class => 'button purple'
