You can attach previously purchased items to this order...
%br
%br
- unless @order_purchased_items.empty?
  .table
    %table.data
      %thead
        %tr
          %th= "Item"
          %th= "Number of used items"
          %th
      %tbody
        - for item in @order_purchased_items
          %tr
            %td= "#{item.purchased_item.product.full_name} (Purchased: #{item.purchased_item.created_at.to_s(:short)})"
            %td= item.purchased_item_qty
            %td= link_to t('shoppe.delete'), remove_order_purchased_item_order_path(@order, order_purchased_item_id: item.id), :class => 'button purple button-mini', :data => {:confirm => "Are you sure, you want to delete this record?" }, :method => :delete
- else
  %p.notice= "There are no purchased items used for this order"

- if @possible_purchased_items.present?
  = form_for Shoppe::OrderPurchasedItem.new, url: add_order_purchased_item_order_path(@order) do |f|
    %dl.text
      %dt= f.label :purchased_item_id, "Purchased Item to use"
      %dd= f.collection_select :purchased_item_id, @possible_purchased_items, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => "Previously purchased item..."}}
    %dl.text
      %dt= f.label :purchased_item_qty, "Number of Items to use"
      %dd= f.text_field :purchased_item_qty, :class => 'text'
    %dl.submit
      %dd= f.submit "Attach Item", :class => 'button green'
    .clearfix
- else
  Currently there are no purchased items that can be used for this order
