.table
  %table.data
    %thead
      %tr
        %th
        %th= t('shoppe.orders.number')
        %th= t('shoppe.orders.customer')
        %th= t('shoppe.orders.status')
        %th= t('shoppe.orders.products')
        %th= t('shoppe.orders.total')
        %th= t('shoppe.orders.payment')
        %th= "Payment Type"
        %th= "Assignment"
    %tbody
      - if orders.empty?
        %tr.empty
          %td{:colspan => 9}= t('shoppe.orders.no_orders')
      - else
        = form_tag mass_process_orders_path do
          - for order in orders
            %tr
              %td= check_box_tag 'order_ids[]', order.id
              %td= link_to order.number, order
              %td= order.customer_name
              %td= status_tag order.status
              %td
                %ul
                  - for item in order.order_items
                    %li #{item.quantity} x #{item.ordered_item.full_name}
              %td= number_to_currency order.total
              %td= boolean_tag order.paid_in_full?, nil, :true_text => number_to_currency(order.amount_paid), :false_text => number_to_currency(order.amount_paid)
              %td= order.payment_type.try(:name) || "Not selected"
              %td
                - if order.user_id.present?
                  %strong Assignend to:
                  = order.user.full_name
                - else
                  Not assigned yet -
                  = link_to "Assign to me", assign_to_me_order_path(order), class: "button button-mini green", method: :post
          %tr
            %td{colspan: 9}
              Recalculate Comission&nbsp;
              = radio_button_tag :process_type, "commission", true
              %br
              = submit_tag "Process selected orders", class: "button green float-right"
              %br
              Archive Selected&nbsp;
              = radio_button_tag :process_type, "archive"

%br
%br
%h1 Listed Orders Calculated Commissions
%hr
- commissions = Shoppe::Commission.where(order_id: orders.collect(&:id))
- user_ids = commissions.collect(&:user_id).uniq
- unless commissions.empty?
  .table
    %table.data
      %thead
        %tr
          %th= "User"
          %th= "Amount"
          %th= "Date Calculated"
      %tbody
        - for u_id in user_ids
          - comms = commissions.where(user_id: u_id)
          %tr
            %td= link_to comms.first.try(:user).try(:full_name), comms.first.try(:user)
            %td= number_to_currency(comms.sum(:commission_amount))
            %td= comms.last.try(:updated_at).to_s(:short)
        %tr
          %td
            %strong Total:
          %td
            %strong= number_to_currency(comms.sum(:commission_amount))
          %td
- else
  %p.notice= "There are no calculated commission records yet"
