- @page_title = t('shoppe.orders.orders')

= content_for :header do
  - unless params[:submitted]
    %p.buttons
      = link_to t('shoppe.orders.new_order'), :new_order, :class => 'button green'
      = link_to t('shoppe.orders.search_orders'), '#', :class => 'button', :rel => 'searchOrders'
  %h2.orders
    = t('shoppe.orders.orders')
    %span= page_entries_info @orders

- unless params[:submitted]
  = render 'search_form'

  .tabs{"data-toggle" => 'tabslet'}
    %ul
      %li
        = link_to "New Orders", "#new_orders_tab"
      %li
        = link_to "My Orders", "#my_orders_tab", id: "my_orders_link"
      - @assigned_users.each do |u|
        %li
          = link_to u.full_name, "#user_#{u.id}_tab"
    #new_orders_tab
      = render "orders_table", orders: @orders.unassigned.active
    #my_orders_tab
      %h1{style:"font-size:36px;margin-top:20px;"}
        Active Records
      %br
      = render "my_orders_table", orders: @orders.assigned_to(current_user).active
      %hr
      %h1{style:"font-size:36px;margin-top:100px;"}
        Archived Records
      %br
      = render partial: "archived_orders_table", locals: { orders: @orders.assigned_to(current_user).archived, user: current_user }

    - @assigned_users.each do |u|
      %div{id: "user_#{u.id}_tab"}
        %h1{style:"font-size:36px;margin-top:20px;"}
          Active Records
        %br
        = render partial: "user_orders_table", locals: { orders: @orders.assigned_to(u).active, user: u }
        %hr
        %h1{style:"font-size:36px;margin-top:100px;"}
          Archived Records
        %br
        = render partial: "archived_orders_table", locals: { orders: @orders.assigned_to(u).archived, user: u }

  - if params[:active_tab] == "my_orders"
    :javascript
      $(document).ready( function() {
        $('#my_orders_link').click();
      } );

- else
  - if current_user.admin?
    #submitted_orders_tab
      = render "submitted_orders_table", orders: @orders.submitted
