- @page_title = "#{t('shoppe.orders.order')} ##{@order.number}"

= content_for :header do
  %p.buttons
    - if current_user.admin? && @order.admin_status != "archived"
      = link_to "Archive", archive_order_path(@order), :class => 'button green', :data => {:confirm => "Are you sure, you want to archive this order?" }, method: :post
    = link_to t('shoppe.edit'), [:edit, @order], :class => 'button'
    - if @order.accepted?
      = link_to t('shoppe.orders.despatch_note.despatch_note'), [:despatch_note, @order], :class => 'button', :rel => 'print'
    = link_to t('shoppe.orders.back_to_orders'), :orders, :class => 'button grey'
  %h2.orders= t('shoppe.orders.order_no_html', order_number: @order.number)

#order

  - if @order.received?
    = render 'order_details'
    = render 'status_bar'
  - else
    %p.warning= t('shoppe.orders.in_progress_warning')

  = field_set_tag t('shoppe.orders.order_items'), :class => 'padded' do
    = render 'order_items'

  = field_set_tag "Previously purchased items", :class => 'padded orderPurchasedItems' do
    = render 'purchased_items_selection'

  - if @order.received?
    = field_set_tag t('shoppe.orders.payments'), :class => 'padded orderPayments' do
      = render 'payments_table'
      = render 'payments_form'

  = field_set_tag "Commissisons", :class => 'padded orderPurchasedItems' do
    = render 'commissions'
