- @page_title = "Permissions"

= content_for :header do
  %h2.settings= "Sales Rep Permissions"

= form_for @permission, url: update_permissions_path do |f|
  = field_set_tag "Permissions" do
    - @permission.attributes.keys.reject{|a| a == "id" || a == "role_name"}.each do |fl|
      %dl.sided
        %dt= "<label for='permission_#{fl}'>#{fl.humanize}</label>".html_safe
        %dd
          = permission_field fl, @permission
  %p.submit.sided
    = f.submit "Save", :class => 'button green'
