- @page_title = t('shoppe.users.users')

= content_for :header do
  %p.buttons= link_to t('shoppe.users.new_user'), :new_user, :class => 'button green'
  %h2.users= t('shoppe.users.users')

.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.users.name')
        %th= t('shoppe.users.email')
        %th User Type
    %tbody
      - for user in @users
        %tr
          %td= link_to user.full_name, [:edit, user]
          %td= user.email_address
          %td= user.user_type || "Admin"
