- @page_title = "My Account"
= content_for :header do
  %h2.users= "My Account"

#customer
  .details
    .left
      %dl
        %dt Name
        %dd= current_user.full_name
        %dt Email Address
        %dd= mail_to current_user.email_address

        %br
        %dt
          Profit share from
          %br
          bought items, %
        %dd= current_user.buyer_cut || 0

        %br
        %br
        %dt
          Profit share for
          %br
          sold orders, %
        %dd
          = current_user.seller_cut || 0
    .right
      %dl
        %dt Two-Factor Authenticator
        %dd
          - qr = RQRCode::QRCode.new(current_user.provisioning_uri("CS:GO Bunker"), :size => 7, :level => :h )
          %table{class:"qr"}
            - qr.modules.each_index do |x|
              %tr
                - qr.modules.each_index do |y|
                  - if qr.dark?(x,y)
                    %td{class:"black"}
                  - else
                    %td{class:"white"}
